// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap')
  
// gallery
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery-item {
  flex-basis: 30%;
  margin-bottom: 20px;
}
.gallery-item img {
  width: 100%;
  height: auto;
}

// end of gallery

.post-tags a {
  background-color: #905424;
  padding: 2px 6px;
  margin-right: 5px;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
}

a {
  text-decoration: underline;
}

//add small text

.small {
  font-size: 0.8rem; /* or 12px, depending on your base font size */
}

// HOME/INDEX only! edit font size to make it more responsive and enhance legibility

.home-page h1 {
  font-size: calc(20px + 2.5vw); /* Largest base size plus a larger vw percentage */
}

.home-page h2 {
  font-size: calc(18px + 2vw); /* Slightly smaller base size than h1, with a bit less vw addition */
}

.home-page h3 {
  font-size: calc(16px + 1.5vw); /* Smaller base size than h2, with a smaller vw addition */
}

.home-page p {
  font-size: calc(14px + 1vw); /* Smallest base size with the smallest vw addition */
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .home-page h1 {
    font-size: calc(22px + 4vw); /* Increase for small screens to ensure visibility */
  }

  .home-page h2 {
    font-size: calc(20px + 3vw);
  }

  .home-page h3 {
    font-size: calc(18px + 2vw);
  }

  .home-page p {
    font-size: calc(16px + 1vw); /* Ensuring paragraphs are still readable on small screens */
  }

}

/* Optional adjustments for larger screens to ensure sizes don't become too large */
@media (min-width: 1201px) {
  .home-page h1 {
    font-size: calc(24px + 1vw); /* Cap the growth a bit on very large screens */
  }

  .home-page h2 {
    font-size: calc(22px + 0.5vw);
  }

  .home-page h3 {
    font-size: calc(20px + 0.5vw);
  }

  .home-page p {
    font-size: 18px; /* Paragraphs don't need to grow as much */
  }
}


 //end of page adjustment

body {
 font-family: 'Inclusive Sans', sans-serif;
 background-color: #f2efc7; /* blush pink */
}

//@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
//@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

