<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

 {%- include head.html -%}

  <!-- Modified <body> tag to include 'custom_class' from page's front matter -->
  <body class="{% if page.custom_class %}{{ page.custom_class }}{% endif %}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
{% comment %}

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
{% endcomment %}

</html>
